# OS
.DS_Store
Thumbs.db
.idea
.vscode
*.log
.history

# Python / Backend
backend/__pycache__/
backend/*.py[cod]
backend/venv/
backend/.env
backend/.pytest_cache/

# Node / React Frontend
frontend-chat/node_modules/
frontend-chat/dist/
frontend-chat/.env
frontend-chat/.env.local

# Flutter / Mobile
mon_app/.dart_tool/
mon_app/.flutter-plugins
mon_app/.flutter-plugins-dependencies
mon_app/build/
mon_app/ios/Pods/
mon_app/ios/.symlinks/
mon_app/ios/Flutter/Flutter.framework
mon_app/ios/Flutter/App.framework
mon_app/android/.gradle/
mon_app/android/local.properties
